app = "abuab12345"

[build]

[env]
PYTHONUNBUFFERED = "1"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[processes]
  app = "organize.py"
